
.logo{
    
}

.container{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width:100%;

}    
.nav_brand{
    font-size: 30px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: brown;
    
}

.nav__list{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
    
}
.nav__link{
    font-family: 'Handlee', cursive;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.nav__link:hover{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(186,253,45,1) 100%);
    color: white;
}