

.container{
    background-image: url(https://www.lavanguardia.com/files/image_948_465/uploads/2020/09/10/5faa61542aa28.jpeg);
    width:150%;

}    
.nav_brand{
    font-size: 30px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: rgb(49, 59, 13);
    
}

.nav__list{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
    
}
.nav__link{
    font-family: 'Handlee', cursive;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.nav__link:hover{
    background: rgb(61, 147, 149);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(61, 93, 95) 100%);
    color: white;
}
