.counter{
    width:fit-content;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin-left: 20px;
    padding: 0rem;
    text-align:center;
    border-radius: 5%;
}